body {
    padding-top: 87px;
}

nav {
    box-shadow: 1px 1px 10px lightgrey;
}

#custom-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.nav-item {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
}

.navbar-right {
    color: lightgrey;
}

.navbar-nav .active {
    font-weight: 700;
}