.slide-container {
    width: 100%;
    position: relative;
}

.silde-items-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.silde-items-list {
    width: 600%;
}

.silde-items-list::after {
    clear: both;
}

.slide-item {
    width: 5.55%;
    float: left;
}

.slide-container button {
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    top: 50%;
    font-size: 50px;
    border: none;
    background: none;
    color: #aaa;
}

.control-prev {
    left: 0%;
}

.control-next {
    right: 0%;
}

.card {
    overflow: hidden;
}

.card-img-top {
    width: 18rem;
    height: 18rem;
}

.card-text {
    height: 3rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Badge Setting */
.badge[data-tag="JavaScript"] {
    background-color: #F7DF1E !important;
    color: black !important;
}

.badge[data-tag="SpringBoot"] {
    background-color: #6DB33F !important;
    color: white !important;
}

.badge[data-tag="MySQL"] {
    background-color: #4479A1 !important;
    color: white !important;
}

.badge[data-tag="HTML5"] {
    background-color: #E34F26 !important;
    color: white !important;
}

.badge[data-tag="CSS3"] {
    background-color: #1572B6 !important;
    color: white !important;
}

.badge[data-tag="Docker"] {
    background-color: #2496ED !important;
    color: white !important;
}